/* ----- VARS ----- */

:root {
  --background-color: rgb(82, 82, 82);
  --primary-color: rgb(212, 181, 0);
  --secondary-color: rgb(24, 24, 24);
}

/* ---------- */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  background-color: var(--background-color);
  color: var(--primary-color)
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}