.title {
    text-align: center;
    font-size: 32px;
    margin-top: 9rem;
}

.button {
    text-decoration: none;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    padding: 1rem 3rem;
    border-radius: 1.2rem;
    position: absolute;
    bottom: 52%;
    left: 44%;
}

.button:hover {
    transition: .3s;
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

