.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1rem;
}

.button {
    border: 1px solid var(--primary-color);
    border-radius: 1.2rem;
    color: var(--primary-color);
    background: none;
    font-size: 16px;
}

.button:hover {
    transition: .3s;
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

.arrow {
    margin: 0rem 6rem;
}

.number {
    font-weight: 600;
}